jupyter
jupyterlab
ipyleaflet
ipywidgets
hvplot
cmocean
datashader
geoviews
holoviews
panel
voila
compliance-checker
pandas
requests
erddapy>=0.8.0
cartopy
matplotlib
numpy
palettable
#iris
folium
joblib
